.mobile_menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999 !important;
  opacity: 0;
  box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
  transform: translateX(-100vw);
}
.mobile_menu.active {
  opacity: 1;
  transform: translateX(0);
}
.mobile_navbar_content {
  background: #a993fe;
  padding: 10px 30px;
  width: 70vw;
  height: 100vh;
}
.mobile_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  margin: 8px 0 10px;
}
.mobile_logo img {
  width: 60px;
}
.mobile_logo h2 {
  letter-spacing: 4px;
  font-size: 35px;
  font-weight: 600;
}
.mobile_navbar_content ul {
  list-style: none;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.mobile_navbar_content ul li {
  margin: 0.5rem 0;
}
.mobile_menu_item {
  font-size: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.mobile_contact_btn {
  font-size: 15px;
  padding: 8px 25px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: 1.5px solid transparent;
  transition: all 0.3s ease;
}

@media (max-width: 426px) {
  .mobile_logo img {
    width: 40px;
  }
  .mobile_logo h2 {
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 500;
  }
}
