.skill_card {
  border-radius: 0.65rem;
  border: 1px solid #6751b9;
  text-align: center;
  backdrop-filter: blur(1rem);
  background: rgba(22, 17, 47, 0.39);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 13rem;
  padding: 2rem;
  margin: 1rem;
}

.skill_card:hover,
.skill_card.active {
  background: linear-gradient(180deg, #aa94fe 0%, #7c5fe6 100%);
}

.skill_icon img {
  width: 3rem;
}

@media (max-width: 1025px) {
  .skill_card {
    width: 10rem;
    padding: 1.5rem;
  }
  .skill_icon img {
    width: 2rem;
  }
}
